<h1>Coaching#ask</h1>
<h1>What is your silly question</h1>

<form action="/answer" method="get">
  <input type="text" name="silly_question" class="control-form" placeholder="What is your question?">
  <input type="submit">
</form>
